{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/style1.css' %}">
    <style>
        .newhodbrndp{
    background-image:url("{% static 'IMAGES/104.jpg' %}");
    background-size:cover;
}
        
    </style>
    <title>Document</title>
</head>
<body class="newhodbrndp">
    <div class="students">
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form4.as_table }}</td>
            </tr>
        </table>
        <input type="submit" value="SUBMIT">

    </form>
    </div>
    <br>
    <table class="table table-success table-striped" style="width:45%;margin-left:350px;">
        
        <tr>
            <th>name</th>
            <th>Department</th>
            <th>joinig_date</th>
            <th>hodmobile</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        {% for x in data10 %}
        <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.Department }}</td>
            <td>{{ x.joinig_date }}</td>
            <td>{{ x.hodmobile }}</td>
            <td><a href="{% url 'hod_editer' x.id %}" class="btn btn-warning">EDIT</a></td>
            <td><a href="{% url 'hoddelete' x.id %}" class="btn btn-danger" onclick="valid()">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}" class="btn btn-primary" style="margin-left:550px;">Back to home Page</a>

    <script>
        function valid(){
            var t=confirm('Are you sure to delete this name')
            if (t){
                return true
            }
            else{
              
                event.preventDefault()
                return false
            }
        }
    </script>
    
</body>
</html>